:root {
  --brand-one: #e52d90;
  --brand-two: #00b5ef;
  --brand-three: #b3539f;
  --brand-four: #2f2f2f;
  --brand-five: #fff;
  --brand-six: #000;
  --brand-seven: #ccc;
  --brand-eight: #f8f8f8;
  --brand-nine: #ebebeb;
  --brand-ten: #666;
  --brand-eleven: #efefef;
}

* {
  /*
    not advised for bigger projects as hitting every element introduces a performance issue
    but for this small project it's ok
  */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}
